# Streamlit 核心
streamlit==1.44.1

# 数据库与向量检索
pysqlite3-binary
chromadb==0.6.3
langchain-chroma==0.2.2
langchain== 0.3.23
# AI 框架
accelerate==1.6.0
transformers==4.50.3
torch==2.3.0
sentence-transformers==4.0.2

# 依赖项统一
tenacity==8.2.3
colorama==0.4.6
nest_asyncio==1.6.0
langchain-openai == 0.3.12
# 其他必要库
openai==1.70.0
tiktoken==0.9.0
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
